.header{
    padding: 80px;
    text-align: center;
    background: #ff0000;
    color: antiquewhite;
}


.header h1{
    font-size: 40px;
}


.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  display: block;
}

.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
}

.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color:red; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

.navbar a.right {
    float: right; 
}

.navbar a:hover {
    background-color: rgb(56, 18, 192); /* Grey background color */
    color: black; /* Black text color */
}

* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #4614bb; /* Grey background color */
    padding: 20px; /* Some padding */
  }
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    padding: 20px; /* Some padding */
    background-image: url('Heavy Metal Picture');
  }
  .footer{
    padding: 30px;
    text-align: center;
    background: #5913b4;
  }
