.header{
    padding: 80px;
    text-align: center;
    background: #ff0000;
    color: antiquewhite;
}


.header h1{
    font-size: 40px;
}

.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
}

.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

.navbar a.right {
    float: right; 
}

.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }
  .footer{
    padding: 30px;
    text-align: center;
    background: #ff0000;
  }